@model IEnumerable<LecturesApp.Models.Lecture>

@{
    ViewData["Title"] = "Буду смотреть";
}

<h4>Буду смотреть</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersNumberLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsersNumberLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HostUser.UserName)
                </td>
                <td>
                    <a asp-action="UnRegisterForLecture" asp-route-id="@item.ID">UnRegister</a>
                </td>
            </tr>
        }
    </tbody>
</table>
